.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
  }